* {
    box-sizing: border-box;
}

.btn-reset {
    background-color: unset;
    border: none;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

.tippy-content {
    background-color: red;
}
.tippy-arrow {
    color: red !important;
}

button.noClick {
    pointer-events: none;
    opacity: .5;
}

.notation {
    position: absolute;
    max-width: 650px;
}

.notation.right {
    right: 60px;
}

.payment {
    padding: 30px 0;
    &__form {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 0 auto;
    }

    &__saved-cards {
        margin-bottom: 15px;
        display: flex;

        & > .cards {
            flex: 1;
            display: flex;
            align-items: center;
        }
    }

    &__new-card-form {
        display: flex;
        flex-direction: column;
    }


    &__new-card-form {
        margin-bottom: 15px;
        transition: opacity .3s ease, height .3s ease;

        & input:not([type="checkbox"]) {
            box-shadow: inset 0 0 0 1px #ccc;

            transition: border-color .3s ease, background-color .3s ease, box-shadow .3s ease;

            &:focus-within {
                box-shadow: inset 0 0 0 3px #ffbb00;
            }
        }
    }

    &__panels {
        position: relative;
        margin-bottom: 50px;
        z-index: 1;
    }

    &__new-card-form-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }

    &__trust-logos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}